{% extends 'base.html' %}
{% block content %}
    {% if products %}
    <div class="row mx-2">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 px-2 mb-3">
            <div class="card">
                <img src="{{item.image.url}}" class="img-fluid" style="padding: 30px" alt="{{item.title}}">
                <img src="{{item.image2.url}}" class="img-fluid" style="padding: 30px" alt="{{item.title}}">
                <img src="{{item.image3.url}}" class="img-fluid" style="padding: 30px" alt="{{item.title}}">
                <a href="{{item.image.url}}">{{image.url}}</a>
                <div class="card-body">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">
                        ${{product.price}}.
                    </p>                    
                    <a href="/" class="btn btn-primary">Add to Cart</a>                 
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
<footer>© copyright 2020 Wicked liffe and Rosies Customs</footer>