{% extends 'base.html' %}
{% block content %}
    {% if products %}
    <div class="row mx-2">
        {% for product in products %}
        <div class="col-12 col-sm-6 col-md-4 px-2 mb-3">
            <div class="card">
                <img src="{{product.image}}" class="img-fluid" style="padding: 30px" alt="{{product.title}}">
                <div class="card-body text-center">
                    <h5 class="card-title">{{product.title}}</h5>
                    <p class="card-text">
                        {{product.title}} <br> ${{product.price}}.
                    </p>
                    <a href="/" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <section>
        <!-- pagination -->
        {% if is_paginated %}
        <nav class="d-flex justify-content-center wow fadeIn">
            <ul class="pagination pg-blue">

                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class></span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </section>
    {% else %}
    <p>No products available.</p>
    {% endif %}
{% endblock %}